.item-input {
    margin-top: 2em;
    margin-right: 0.7em;
    border: none;
    padding: .25em .25em;
    border-radius: 25px;
    width: 20rem;
    height: 2rem;
    background: #4F6373;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    color: #fff;

    &:focus {
        outline: none;
    }
}

button.add-item {
    background: transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    position: relative;
    top: 13px;
    left: 10px;

    &:hover {
        cursor: pointer;
    }

    .fa-plus-circle {
        color: #3FB083;
        position: relative;
        bottom: 6px;
        right: 7px;

        &:hover {
            color: lighten(#3FB083, 7%);
        }
    }
}

.reset-list {
    background: transparent;
    border: none;
    outline: none;
    margin-right: 15px;
    position: relative;
    bottom: 3px;
    display: inline-block;

    &:hover {
        cursor: pointer;
    }

    .fa-trash-o {
        color: #962D2D;
    }
}
