.control-bar-container {
  width: 90%;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 1em;
  color: #9BA1A3;
  padding: 0.4em;

  .filter-button {
    display: inline-block;
    margin-left: 2em;
    padding: 0.25em;
    border: 1px solid #293844;

    &:hover {
      cursor: pointer;
      border: 1px solid #4F6373;
      border-radius: 3px;
    }
  }
}
