.items-left-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0.4em;

  #items-left {
      color: #9BA1A3;
  }

  #clear-completed {

      &:hover {
          cursor: pointer;
      }
  }
}
