#container {
    width: 100%;
    text-align: center;

    #content {
        width: 95%;
        margin: 2em auto 0 auto;
        padding: 0.5em 0.5em 1em 0.5em;
        box-shadow: 0px 0px 2px #000;
        background: #314251;
        border-radius: 15px;
    }
}

header {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 3.5em;
    margin-top: 80px;
}

@media only screen and (min-width: 500px) {

  #container {
    #content {
      width: 28em;
      margin: 2em auto 0 auto;
      padding: 1.3em;
    }
  }
}
