#container {
    width: 100%;
    text-align: center;

    #content {
        width: 95%;
        margin: 0 auto;

        header {
            text-align: center;
            color: #fff;
            font-weight: 400;
            font-size: 3.5em;
            margin-top: 80px;
        }
    }
}

@media only screen and (min-width: 500px) {
  #content {
    width: 30em;
    margin: 0 auto;
  }
}
